.total-posts {
    white-space: nowrap;
}

.vh-70 {
    height: 70vh !important;
}

.text-empty {
    color: rgba(110, 132, 163, 1);
    font-size: 17px;
    font-weight: 900;
    line-height: 25.9px;
    text-align: center;
}