<div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-11 mb-4">
        <app-search-input 
          [(searchQuery)]="searchQuery" 
          [resultCount]="filteredPosts.length"
          (searchQueryChange)="filterPosts()">
        </app-search-input>
      </div>
    </div>
  
    <div *ngIf="filteredPosts.length === 0" class="text-center">
      <div class="row d-flex justify-content-center vh-70">
        <div class="col-12 col-md-6 col-lg-5 d-flex flex-column justify-content-center align-items-center">
          <p class="header-empty">Uh oh.</p>
          <p class="d-flex justify-content-center align-items-center px-5 text-empty">
            We ran into an issue, but don’t worry, we’ll take care of it for sure.
          </p>
          <button type="button" class="btn btn-primary" (click)="clearSearch()">Back to safety</button>
        </div>
        <div class="col-12 col-md-6 col-lg-6 d-flex flex-column justify-content-center align-items-center">
          <img src="/assets/svg/empty-post.svg" class="img-fluid" alt="Empty-post">
        </div>
      </div>
    </div>
  
    <div class="row">
      <div *ngFor="let post of filteredPosts" class="col-12 col-md-6 col-lg-4 mb-4">
        <app-card
          [id]="post.id"
          [title]="post.title"
          [summary]="post.summary"
          [imageUrl]="post.imageUrl"
          [author]="post.authorEmail"
          [date]="post.date"
          (showLoginModal)="openLoginModal()">
        </app-card>
      </div>
    </div>
</div>

<app-auth-modal #authModal (loginSuccess)="onLoginSuccess()"></app-auth-modal>
