body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(245, 245, 245, 1);
}

.header-empty {
    font-size: 52px;
    font-weight: 900;
    line-height: 60.94px;
    letter-spacing: -0.01em;
    text-align: center;
}